<div class="m-0 mb-[12px] relative rounded-[5px] p-0 px-[10px] border border-[#eee] after:absolute after:left-[15px] after:bottom-[-13px] after:h-[8px] after:border-l-2 after:border-l-[#f1f1f1]">
  <div class="flex items-center gap-2 w-full">
    <div class="flex justify-center items-center p-0 py-[10px]">
      <fa-icon class="text-xs"  [icon]="faHandshake"></fa-icon>
    </div>
    <div class="w-full p-0 py-[8px] m-0 mr-[5px] ml-[31px]">
      <div class="w-full flex justify-between">
        <div>
          <div>
            <span [innerHTML]="contentSecurity(options.subject)"></span>
          </div>
          <div>
            <span>{{options.creationTime | date: 'medium'}}</span>
          </div>
        </div>
      </div>

      <div class="flex justify-between m-0 mr-[5px]">
        <span [innerHTML]="contentSecurity(options.commentText)"></span>
      </div>
    </div>
  </div>
</div>
