<div>
  <eye-filter-bar
    styleClass="flex flex-wrap md:flex-nowrap justify-between items-center md:h-[43px] border-b-2 border-b-gray-100 p-2 px-4">
    <section class="flex justify-between md:block w-full">
      <div class=" flex justify-center">
        <section class="flex justify-between md:block w-full"> </section>
      </div>
    </section>
    <section class="grid grid-flow-col gap-2 items-center md:justify-end w-full">
      <div>
        <button pRipple pButton class="btn" type="button" label="Create" icon="pi pi-plus"  (click)="onModalOpen(0)"></button>
      </div>
    </section>
  </eye-filter-bar>
  <eye-scroll-layout class="min-scrollbar" [height]="'calc(100vh - 88px)'"
    styleClass="px-6 2xl:pr-12 2xl:px-16 py-3 flex justify-between flex-col h-full w-full">
    <eye-items container *ngFor="let item of items; let i=index; trackBy:trackBy"
      contentClass="px-5 grid-cols-[10%,28%,37%,22%]">
      <eye-item>
        <span>ID</span>
        <span class="text-content">{{item?.id || 'N/A'}}</span>
      </eye-item>
      <eye-item>
        <span>Site Name</span>
        <span class="text-content">{{item?.siteName || 'N/A'}}</span>
      </eye-item>
      <eye-item>
        <span>Description</span>
        <span class="text-content">{{item?.description || 'N/A'}}</span>
      </eye-item>
      <div class="justify-self-end">
        <eye-item-menu *ngIf="item.menus.length > 0" [menus]="item.menus"></eye-item-menu>
      </div>
    </eye-items>
    <eye-skeleton container *ngIf="isApiCalling" [rows]="15"></eye-skeleton>
    <eye-not-found container *ngIf="notFound"></eye-not-found>
  </eye-scroll-layout>
</div>
<eye-modal [isModalOpen]="isModalOpen" (modalClose)="isModalOpen = false">
  <div modal-header>
    <span>{{modalName | titlecase}}</span>
  </div>
  <div modal-body>
    <eye-json-form *ngIf="fields.length > 0" [form]="form" [fields]="fields" [model]="model"
      (formSubmit)="onSubmit()">
    </eye-json-form>
  </div>
</eye-modal>
