<div class="flex items-center justify-center w-screen h-screen bg-transparent">
  <div class="flex items-center flex-col md:flex-row md:h-[464px] md:w-[820px]">
    <section class="md:bg-default-800 md:rounded md:drop-shadow md:w-[410px] md:h-full" eye-logo></section>
    <section class="md:w-[410px] md:h-[400px] md:rounded-r md:bg-white md:drop-shadow">
      <eye-form [isError]="isLoginError" [errorMessage]="errorMessage" [isLoading]="isLoading" (save)="onLogin($event)">
      </eye-form>
    </section>
  </div>
</div>
