.common-checkbox-class {
  .p-checkbox {
    .p-checkbox-box {
      border-radius: 0.2rem;
    }

    .p-checkbox-box.p-highlight {
      background: var(--eye-primary-800);
      border-color: var(--eye-primary-800);
    }
  }

  .p-checkbox:not(.p-checkbox-disabled) {
    .p-checkbox-box.p-highlight:hover {
      background: var(--eye-primary-800);
      border-color: var(--eye-primary-800);
    }

    .p-checkbox-box.p-focus {
      border-color: var(--eye-primary-800);
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--eye-primary-800),
        0 1px 2px 0 rgb(0 0 0 / 0%);
    }
  }
}


.p-multiselect {
  width: 100%;
  .p-multiselect-label {
    padding: 8px !important;
    border-radius: 0.2rem !important;
  }
}
.p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-filter-container
  .p-inputtext {
  padding: 8px !important;
  border-radius: 0.2rem !important;
  width: 100%;
  font-size: 14px !important;

  &:enabled:focus {
    border-color: var(--eye-primary-800);
    box-shadow: 0 0 0 1px var(--eye-primary-800);
  }
}

.p-multiselect-header {
  @extend .common-checkbox-class;
}

.p-multiselect-items {
  li {
    margin: 0 5px !important;
    &:hover {
      border-radius: 5px !important;
      box-shadow: none !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  .p-multiselect-item.p-highlight {
    background: none !important;
    padding: 0.7rem 0.5rem !important;
    color: #18181b !important;
    font-size: 14px !important;
  }
  @extend .common-checkbox-class;
}

