<div class="flex justify-center items-center h-screen w-screen gap-64">
  <section>
    <h1 class="text-8xl leading-[165px]">Opps!</h1>
    <p class="text-xl">Hello there, You seem to be lost, but don't worry,</p>
    <p class="text-xl">we'll get you back on track...</p>
    <!-- <p-button label="Get Me Back!"
      styleClass="bg-transparent text-black border-default-800 focus:shadow-none mt-1 h-[38px]" (onClick)="onBack()">
    </p-button> -->
  </section>
  <section>
    <img src="/assets/images/404/404.png" alt="not found">
  </section>
</div>
