<div>
  <div class="px-5 py-1 border-t border-b border-gray-200">
    <eye-track-header  [issueId]="issue.issueId" [details]="issueDetails"></eye-track-header>
  </div>

  <div class="grid grid-cols-[65%,35%] xl:grid-cols-[65%,35%] 2xl:grid-cols-[75%,25%]">
    <div>
      <eye-scroll-layout class="min-scrollbar" [height]="'75vh'" style="height: 75vh;" styleClass="px-[20px]">
        <div container>
          <eye-track-details  [trackingData]="issueTrackingDetails" [issue]="issue"></eye-track-details>
        </div>
      </eye-scroll-layout>
    </div>
    <div>
      <eye-scroll-layout class="min-scrollbar" [height]="'75vh'" style="height: 75vh;" styleClass="pr-2">
        <div container>
          <eye-track-sidebar [issueId]="issue.issueId" [details]="issueDetails"></eye-track-sidebar>
        </div>
      </eye-scroll-layout>
    </div>
  </div>
</div>


<!--Comment Edit Modal-->
<eye-modal *ngIf="isCommentEditModalOpen" [isModalOpen]="isCommentEditModalOpen"  (modalClose)="isCommentEditModalOpen = false">
  <div modal-header>
    <span class="text-[18px]">Edit Comment</span>
  </div>
  <div modal-body class="p-2 font-[14px]">
    <eye-json-form [form]="form" [fields]="fields" [model]="model" [footer]="{isReset:false, isFooter:true}" (formSubmit)="onLastCommentEditSubmit($event)"></eye-json-form>
  </div>
</eye-modal>
