<div class="w-[70vw]">
  <div class="px-5 py-1 border-t border-b border-gray-200">
    <eye-track-header  [issue]="issue"></eye-track-header>
  </div>

  <div class="grid grid-cols-[65%,35%] xl:grid-cols-[65%,35%] 2xl:grid-cols-[75%,25%]">
    <div>
      <eye-scroll-layout class="min-scrollbar" [height]="'75vh'" style="height: 75vh;" styleClass="px-[20px]">
        <div container>
          <eye-track-details  [trackingData]="issueTrackingDetails" [issue]="issue"></eye-track-details>
        </div>
      </eye-scroll-layout>
    </div>
    <div>
      <eye-scroll-layout class="min-scrollbar" [height]="'75vh'" style="height: 75vh;" styleClass="pr-2">
        <div container>
          <eye-track-sidebar [issue]="issue" [details]="issueTrackingDetails"></eye-track-sidebar>
        </div>
      </eye-scroll-layout>
    </div>
  </div>
</div>
