<div class="flex justify-between content-center">
  <div class="grid grid-flow-col">
    <span class="text-sm font-medium text-gray-500">
      {{issue?.categoryName}}
      <small title="Issue Priority" [style.marginLeft.px]="5"
        class="priority-{{priority[issue?.priorityStatus] | lowercase}}">
        Priority {{priority[issue?.priorityStatus]}}
      </small>
    </span>
  </div>
  <div class="grid grid-flow-col gap-2">
    <div class="issue-current-status">
      <span class="status-{{status[issue?.status] | lowercase}}">Issue {{status[issue?.status]}}</span>
    </div>
    <button *ngIf="issue?.status === 0 && (claim.payload.roleType === roleType.SUPER_ADMIN || claim.payload.roleType === roleType.ADMIN)" pRipple class="btn btn-issue-close" (click)="onIssueClose()">
      <span class="pi pi-lock"></span>
      <span>Close Issue</span>
    </button>

  </div>
</div>
