<p-calendar [(ngModel)]="dateValue" [minDate]="calenderOptions?.minDate || minDate"
  [maxDate]="calenderOptions?.maxDate || maxDate" [readonlyInput]="calenderOptions?.readonlyInput || false"
  [defaultDate]="calenderOptions?.defaultDate || defaultDate"
  [selectionMode]="calenderOptions?.selectionMode || 'single'" [style]="calenderOptions?.style || ''"
  [styleClass]="calenderOptions?.styleClass || ''" [inputStyle]="calenderOptions?.inputStyle"
  [inputStyleClass]="calenderOptions?.inputStyleClass || ''" [inputId]="calenderOptions?.inputId || ''"
  [name]="calenderOptions?.name || ''" [placeholder]="calenderOptions?.placeholder || ''"
  [disabled]="calenderOptions?.disabled || false" [dateFormat]="calenderOptions?.dateFormat || 'dd/mm/yy'"
  [inline]="calenderOptions?.inline || false" [showOtherMonths]="calenderOptions?.showOtherMonths || true"
  [selectOtherMonths]="calenderOptions?.selectOtherMonths || false" [showIcon]="calenderOptions?.showIcon || false"
  [showOnFocus]="calenderOptions?.showOnFocus || true" [showWeek]="calenderOptions?.showWeek || false"
  [icon]="calenderOptions?.icon || 'pi pi-calendar'" [appendTo]="calenderOptions?.appendTo"
  [shortYearCutoff]="calenderOptions?.shortYearCutoff" [disabledDates]="calenderOptions?.disabledDates || []"
  [disabledDays]="calenderOptions?.disabledDays || []" [showTime]="calenderOptions?.showTime || false"
  [hourFormat]="calenderOptions?.hourFormat || '24'" [timeOnly]="calenderOptions?.timeOnly || false"
  [timeSeparator]="calenderOptions?.timeSeparator || ':'" [dataType]="calenderOptions?.dataType || 'date'"
  [required]="calenderOptions?.required || false" [showSeconds]="calenderOptions?.showSeconds || false"
  [stepHour]="calenderOptions?.stepHour || 1" [stepMinute]="calenderOptions?.stepMinute || 1"
  [stepSecond]="calenderOptions?.stepSecond || 1" [maxDateCount]="calenderOptions?.maxDateCount || 0"
  [showButtonBar]="calenderOptions?.showButtonBar || false"
  [todayButtonStyleClass]="calenderOptions?.todayButtonStyleClass || 'p-secondary-button'"
  [clearButtonStyleClass]="calenderOptions?.clearButtonStyleClass || 'p-secondary-button'"
  [panelStyleClass]="calenderOptions?.panelStyleClass || ''" [panelStyle]="calenderOptions?.panelStyle"
  [keepInvalid]="calenderOptions?.keepInvalid || false"
  [hideOnDateTimeSelect]="calenderOptions?.hideOnDateTimeSelect || true"
  [numberOfMonths]="calenderOptions?.numberOfMonths || 1" [view]="calenderOptions?.view || 'date'"
  [multipleSeparator]="calenderOptions?.multipleSeparator || ','"
  [rangeSeparator]="calenderOptions?.rangeSeparator || '-'" [focusTrap]="calenderOptions?.focusTrap || true"
  [firstDayOfWeek]="calenderOptions?.firstDayOfWeek || 0" (onSelect)="onSelect.emit($event)"
  (onFocus)="onFocus.emit($event)" (onClose)="onClose.emit($event)" (onShow)="onShow.emit($event)"
  (onClickOutside)="onClickOutside.emit($event)" (onInput)="onInput.emit($event)"
  (onMonthChange)="onMonthChange.emit($event)" (onYearChange)="onYearChange.emit($event)">
</p-calendar>
