<div>
  <eye-filter-bar styleClass="flex items-center justify-between gap-5 w-full px-8">
    <span class="p-buttonset btn-group">
      <button *ngFor="let t of filterMenusForTab" pButton pRipple class="btn" [ngClass]="{'active': tab === t.id}"
        (click)="t.command()">
        <span>{{t.name}}</span>
        <p-badge value="{{t.count}}" styleClass="badge"></p-badge>
      </button>
    </span>
    <div class="grid grid-flow-col gap-2">
      <button  pRipple pButton class="btn" type="button"
        label="Create Issue" icon="pi pi-plus" (click)="onIssueCreate()"></button>
    </div>
  </eye-filter-bar>
  <eye-issue-item  [Items]="items" [IsApiCalling]="isApiCalling" [IsCustomerPanel]="false"
    [NotFound]="notFound"></eye-issue-item>
</div>



