<ul class="flex justify-start items-center">
  <li *ngFor="let item of menus" class="{{item.disabled ? 'disabled' : item.label === selectedTab?.label ? 'active' : ''}} hover">
    <ng-container *ngIf="item?.disabled; else disabledTemp">
      <a class="py-1 px-3 text-[13px] font-medium">{{item?.label}}</a>
    </ng-container>
    <ng-template #disabledTemp>
      <a class="py-1 px-3 text-[13px] font-medium cursor-pointer" (click)="onSelectTab(item)">{{item?.label}}</a>
    </ng-template>
  </li>
</ul>
