<div class="app-sidebar-wrapper w-[250px] bg-white border-r border-gray-200 hidden md:flex flex-col justify-between"
  id="sidebar">
  <!-- <eye-scroll-layout class="min-scrollbar" [height]="'calc(100vh - 128px)'" styleClass="p-8 pl-6 pr-4 h-full w-full">
    <section container class="flex flex-col" eye-menus [isHandset]="isHandset"></section>
  </eye-scroll-layout> -->
  <section class="border-t border-gray-200 h-[80px] pl-8 pr-4 flex justify-between align-middle" eye-footer>
  </section>
</div>
