<div class="grid grid-flow-col gap-5">
  <div class="grid grid-flow-col items-center cursor-pointer px-2" pRipple (click)="pofile?.toggle($event)">
    <p-avatar label="{{user?.avatar}}"
      styleClass="text-gray-900 font-bold text-sm w-[25px] h-[25px] p-[0.9rem] bg-white rounded-[5rem] flex justify-center items-center"
      size="large">
    </p-avatar>
    <div class="flex justify-between items-center gap-2 py-3 px-2">
      <div class="hidden md:block user-details">
        <h2 class="text-white text-[0.9rem]">{{user?.name}}</h2>
      </div>
      <span class="pi pi-chevron-down text-white text-[0.7rem]"></span>
    </div>
  </div>
</div>

<p-overlayPanel #pofile styleClass="mt-0 p-0 after:border-0 before:border-0 min-w-[285px]">
  <ng-template pTemplate>
    <div class="flex flex-col mb-2">
      <div class="flex flex-col items-center justify-center p-5">
        <p-avatar [label]="user.avatar"
          styleClass="font-bold text-2xl text-secondary-900 h-16 w-16 p-4 bg-gray-100 rounded-[5rem] flex justify-center items-center"
          size="large">
        </p-avatar>
        <span class="text-base font-medium text-secondary-900">{{user?.name}}</span>
        <span class="text-xs text-secondary-800">
          {{user?.roleName}}</span>
      </div>
      <div>
        <p-menu styleClass="w-full bg-transparent border-none p-0 text-sm" [model]="navigationMenu">
        </p-menu>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
